<div class="container search-container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 position-relative">
      <div class="search-wrapper">
        <input
          type="text"
          class="form-control form-control-lg rounded-pill custom-search-input"
          placeholder="Busca aquí los chismes que te interesan..."
          [ngModel]="searchTerm()"
          (ngModelChange)="searchTerm.set($event)"
        />
        <div class="search-icon-group">
          @if (searchTerm().trim().length > 0) {
            <i
              class="bi bi-x-circle-fill clear-search-icon"
              (click)="clearSearch()"
              title="Limpiar búsqueda"
            ></i>
          }
          <i class="bi bi-search search-icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>
