<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 position-relative">
      <input
        type="text"
        class="form-control form-control-lg rounded-pill pe-5 shadow-sm custom-search-input"
        placeholder="Busca aqui..."
        [ngModel]="searchTerm()"
        (ngModelChange)="searchTerm.set($event)"
      />
      @if (searchTerm().trim().length > 0) {
        <i
          class="bi bi-x-circle-fill position-absolute top-50 translate-middle-y text-muted fs-5 pb-1"
          style="right: 3rem; cursor: pointer; z-index: 5"
          (click)="clearSearch()"
          title="Limpiar búsqueda"
        ></i>
      }
      <i
        class="bi bi-search position-absolute top-50 end-0 translate-middle-y me-4 text-muted fs-5 pb-1"
      ></i>
    </div>
  </div>
</div>
